.bones {
  &__item-container {
    /* display: flex; */

    @include for-phone-only {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }
  }
}
