.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #ffff;
  z-index: 100;
  transition: .5s all;
  @include for-phone-only {
    width: 100%;
  }
  &_closed {
    transform: translateX(100%);
  }
}





