@keyframes dropDown {
  from {
    top: -50px;
  }

  to {
    top: 0px;
  }
}

@keyframes showUp {

  from {
    top: 15%;
    display: none;
  }

  to {
    top:0;
    display: block;
  }

}

@keyframes hideDown {

  from {
    top: 0%;
    display: block;

  }

  to {
    top: 30%;
    display: none;
  }

}

@keyframes showRight {

  from {
    right: 70%;
    display: none;
  }

  to {
    right :0;
    display: block;
  }

}


@keyframes loadingPage {

  from {
    height: 0;
  }

  to {
    height: 100%;
  }

}


@keyframes hideDownTab {

  from {
    margin-top: 0;
    opacity: 1;

  }

  to {
    margin-top: 30%;
    opacity: 0;
  }

}


@keyframes showUpTab {

  from {
    margin-top: 30%;
    opacity: 0;

  }

  to {
    margin-top: 0;
    opacity: 1;
  }

}

