@keyframes dropDown {
  from {
    top: -50px;
  }

  to {
    top: 0px;
  }
}

@keyframes showUp {

  from {
    top: 15%;
    display: none;
  }

  to {
    top:0;
    display: block;
  }

}

@keyframes hideDown {

  from {
    top: 0%;
    display: block;

  }

  to {
    top: 30%;
    display: none;
  }

}

@keyframes showRight {

  from {
    right: 70%;
    display: none;
  }

  to {
    right :0;
    display: block;
  }

}


@keyframes loadingPage {

  from {
    height: 0;
  }

  to {
    height: 100%;
  }

}


@keyframes hideDownTab {

  from {
    margin-top: 0;
    opacity: 1;

  }

  to {
    margin-top: 30%;
    opacity: 0;
  }

}


@keyframes showUpTab {

  from {
    margin-top: 30%;
    opacity: 0;

  }

  to {
    margin-top: 0;
    opacity: 1;
  }

}





@keyframes growElem {

  0% { transform: scale(0); }
  66% { transform: scale(0); }
  100% { transform: scale(1); }

}

@keyframes showElem {

  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }

}

@keyframes showBackgroundImage {

  from {
    opacity: 0;

  }

  to {
    opacity: 0.5;
  }

}


@keyframes fadeIn{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


@keyframes fadeIn05{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:0.5; }
}


@keyframes raiseUp5percent {

  from {
    transform: translateY(50%);
    opacity: 0;

  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes raiseUp5percent {

  0% {
    opacity: 0;
   }
  66% {
    transform: translateY(50%);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
   }

}

