@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;400;500;700&display=swap');

@import 'libs/fonts';

@import 'blocks/header/header';
@import 'blocks/logo/logo';
@import 'blocks/menu/menu';
@import 'blocks/burger/burger';

@import 'blocks/heading/heading';

@import 'blocks/controls/controls';

@import 'blocks/bones/bones';


// work.html
@import 'blocks/work/work';
@import 'blocks/work-information/work-information';
@import 'blocks/work-article/work-article';
@import 'blocks/comments/comments';

@import 'base/media';


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #151515;
}

*, *:before, *:after {
  box-sizing: inherit;
}


* {
    font-family: 'Mont', sans-serif;
    margin: 0;
    padding: 0;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}






