.bones {
  &__caption {
    margin-top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 18px;
      line-height: 23px;
    }
    @include for-tablet-portrait-up {
      font-size: 18px;
      line-height: 23px;
    }
    @include for-phone-only {
      font-size: 14px;
      line-height: 20px;
    }
    &_display-none {
      display: none;
    }
    &_active {
      display: block;
      font-weight: 600;
      color: #000000;
    }
  }
}
