.bones {
  &__caption {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    @include for-big-desktop-up {
      margin: 10% 0 10% 0;
    }
    p {
      font-size: 1em;
      line-height: 1em;
      @include for-big-desktop-up {
        font-size: calc(1em + 0.7vw);
        line-height: 1em;
      }
      @include for-desktop-up {
        font-size: 0.9em;
        line-height: 1em;
      }
      @include for-tablet-portrait-up {
        font-size: 0.9em;
        line-height: 1em;
      }
      @include for-phone-only {
        font-size: 0.7em;
        line-height: 1.2em;
      }
    }



    &_display-none {
      display: none;
    }
    &_active {
      display: block;
      font-weight: 300;
      color: #000000;
    }
  }
}

