.bones {
  &__item {
    position: relative;
    padding: 40px 60px 60px 60px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    line-height: 25px;
    transition: 0.4s ease-in-out;
    @include for-big-desktop-up {
      padding: 5% 15% 5% 15%;
    }
    &_border-white {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    &_cover {
      background-size: cover;
      background-repeat: no-repeat;
    }
    &_prices {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_work {
      @include for-big-desktop-up {
        padding: 10% 20% 10% 20%;
      }
    }
    &_active {
      background-color: #fff;
    }
    &_paddingtop-50 {
      padding: 50px 60px 60px 60px;
      @include for-big-desktop-up {
        padding: 5% 15% 5% 15%;
      }
    }

    // Animations

    &_animate-showup {
      display: block;
      animation: showUp 0.6s;
    }
    &_animate-hide-down {
      display: none;
      animation: hideDown 0.6s;
    }

    &_animate-show-right {
      display: none;
      animation: showRight 0.6s;
    }


    &_more {
      position: relative;
      display: none;
      height: 100%;
      z-index: 11;
    }
    @include for-desktop-up {
      padding: 40px 30px 40px 30px;
    }
    @include for-tablet-landscape-up {
      padding: 40px 30px 40px 30px;
    }
    @include for-tablet-portrait-up {
      padding: 40px 30px 40px 30px;
    }
    @include for-phone-only {
      padding: 30px 15px 30px 15px;
    }
  }
}


