.bones {
  &__item {
    position: relative;
    padding: 60px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    &_cover {
      background-size: cover;
      background-repeat: no-repeat;
    }
    &_prices {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_active {
      background-color: #fff;
    }
    @include for-phone-only {
      padding: 30px 15px 30px 15px;
    }
  }
}
