.comments {
  &__item {
    padding: 40px 60px 0 60px;
    /* border-right: 1px solid #333333;
    border-bottom: 1px solid #333333; */
    @include for-big-desktop-up {
      padding: 5% 15% 5% 15%;
    }
    @include for-desktop-up {
      padding: 40px 30px 40px 30px;
    }
    @include for-tablet-landscape-up {
      padding: 30px;
    }
    @include for-tablet-portrait-up {
      padding: 30px;
    }
    @include for-phone-only {
      padding: 15px;

    }
    &_active {
      background-color: #272727;
    }
    &_border-gray {
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      &:nth-child(3n) {
        border-right: none;
      }
      @include for-tablet-landscape-up {
        &:nth-child(3n) {
          border-right: 1px solid #333333;
        }
      }
    }
    &_new {
      &-display {
        display: block;
      }
      &-nodisplay {
        display: none;
      }
    }
  }
}
