.burger-menu {
  &__footer-item {
    padding: 0px 60px;
    font-weight: 600;
    font-size: 25px;
    @include for-desktop-up {
      font-size: 20px;
    }
    @include for-tablet-landscape-up {
      font-size: 20px;
    }
    @include for-phone-only {
      font-size: 14px;
      padding: 0 15px;
    }
  }
}
