.comments {
  &__rating-container {
    /* @include for-tablet-landscape-up {
      font-size: 25px;
    } */
    display: flex;
  }
  &__rating-item {
    margin-left: 5px;
    fill: #727272;
    width: 18px;
    height: 17px;
    &_active {
      fill: #FFFFFF;
    }
    @include for-big-desktop-up {
      width: calc(18px + 0.4vw);
      height: calc(17px + 0.4vw);
    }
  }
}
