.bones {
  &__more {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    grid-auto-rows: auto;
    width: 100%;
    /* display: none; */
    @include for-tablet-landscape-up {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(520px, 1fr));
    }
    @include for-tablet-portrait-up {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(520px, 1fr));
    }
    @include for-phone-only {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(440px, 1fr));
    }
  }
}
