.work-article {

  &__subinfo {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    @include for-tablet-portrait-up {
      margin-top: 30px;
    }
    @include for-phone-only {
      margin-top: 30px;
    }

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 50px;
      text-decoration: underline;
      color: #FFFFFF;
      @include for-tablet-landscape-up {
        font-size: 20px;
        line-height: 20px;
      }
      @include for-tablet-portrait-up {
        font-size: 20px;
        line-height: 30px;
      }
      @include for-phone-only {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
}
