.work-article {

  &__subinfo {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    line-height: 50px;
    @include for-tablet-portrait-up {
      margin-top: 30px;
    }
    @include for-phone-only {
      margin-top: 30px;
    }

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 2em;
      text-decoration: underline;
      color: #FFFFFF;
      @include for-big-desktop-up {
        font-size: calc(1em + 0.5vw);
      }
      @include for-tablet-landscape-up {
        font-size: 0.8em;
        line-height: 1em;
      }
      @include for-tablet-portrait-up {
        font-size: 0.8em;
        line-height: 1em;
      }
      @include for-phone-only {
        font-size: 0.8em;
        line-height: 1em;
      }
    }
  }
}

