.controls {
  &__triangle-line {
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.5s;
    &:nth-child(1) {
      left: 0px;
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      left: 5px;
      transform: rotate(45deg);
      @include for-big-desktop-up {
        left: 100%;
      }
    }
    &_down {
      &:nth-child(1) {
        left: 0px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        left: 5px;
        transform: rotate(-45deg);
        @include for-big-desktop-up {
          left: 100%;
        }
      }
    }
    @include for-big-desktop-up {
      width: calc(9px + 0.5vw);
    }
  }
}
