.order {
  &__button {
    margin-top: 160px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    width: 180px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    @include for-phone-only {
      margin-top: 80px;
    }
  }
}
