.menu {
  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    @include for-tablet-portrait-up {
      grid-template-columns: 100px;
    }
    @include for-phone-only {
      grid-template-columns: 100px;
    }
  }
}
