.order {
  &__radio-text {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate3D(-50%, -50%, 0);
  }
}
