.controls {
  &__select-link {
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1em;
    &:hover {
      color: #FFFFFF;
    }
    @include for-big-desktop-up {
      font-size: calc(1em + 0.5vw);
    }
  }
}
