.burger-menu {
  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: #151515;
    @include for-big-desktop-up {
      font-size: calc(1em + 1vw + 0.5vh);
    }
    @include for-desktop-up {
      font-size: 0.8em;
      line-height: normal;
    }
    @include for-tablet-landscape-up {
      font-size: 0.6em;
      line-height: normal;
    }
    @include for-phone-only {
      font-size: 0.6em;
      line-height: normal;
    }
  }
}

