.work-article {
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    @include for-tablet-landscape-up {
      font-size: 39px;
      line-height: 39px;
    }
    @include for-tablet-portrait-up {
      font-size: 35px;
      line-height: 35px;
    }
  }
}
