.work-article {
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    @include for-big-desktop-up {
      font-size: calc(1em + 1vw);
    }
    @include for-tablet-landscape-up {
      font-size: 0.8em;
      line-height: 1em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.7em;
      line-height: 1em;
    }
    @include for-phone-only {
      font-size: 0.8em;
      line-height: 1em;
    }
  }
}

