.controls {
  border-bottom: 1px solid #333333;
  @include for-tablet-landscape-up {
    .container {
      padding: 0 30px 0 30px;
    }
  }
  @include for-tablet-landscape-up {
    .container {
      padding: 0;
      width: 100%;
    }
  }
  @include for-tablet-portrait-up {
    .container {
      padding: 0;
      width: 100%;
    }
  }
  @include for-phone-only {
    .container {
      padding: 0;
      width: 100%;
    }
  }
}
