.controls {
  border-bottom: 1px solid #333333;
  &__container {
    display: grid;
    //grid-template-columns: 660px 480px 480px 185px;
    grid-template-columns: 0.37fr 0.26fr 0.26fr 0.1fr;
    grid-template-rows: 120px;
    @include for-desktop-up {
      grid-template-columns: 1.75fr 1.3fr 1.3fr 0.5fr;
      grid-template-rows: 100px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid  #333333;
    &:last-child {
      border-right: none;
    }
    &_centered {

    }
    &_statistic {
      display: flex;
      justify-content: flex-end;
    }
    &_active {
      background-color: #444444;
    }
  }

  &__icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    &_search {
      background-image: url('../../../assets/svg/search.svg');
    }
    &_filter {
      background-image: url('../../../assets/svg/filter.svg');
    }
    &_back {
      background-image: url('../../../assets/svg/back.svg');
    }
  }

  &__text {
    margin-left: 11px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
    }
  }

  &__search {
    margin-left: 13px;
    background-color: transparent;
    border: none;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
    }
  }

  &__name {
    margin-left: 40px;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
      margin-left: 20px;
    }
    &_centered {
      margin-left: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    &_active {
      color: #FFFFFF;
    }
    &_subname {
      margin-left: 10px;
      font-weight: 300;
    }
  }

  &__rating {
    margin-left: 10px;
  }

  &__select {
    margin-left: 10px;
  }

  &__content {
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #727272;
    @include for-desktop-up {
      font-size: 20px;
    }
  }

  &__number {
    margin-left: 40px;
    @include for-desktop-up {
      margin-left: 0;
    }
  }

  &__word {
  }
}
