.comments {
  &__photo {
    max-width: 150px;
    width: 100%;
    @include for-big-desktop-up {
      max-width: 40%;
    }
    @include for-desktop-up {
      max-width: 130px;
    }
    @include for-tablet-landscape-up {
      max-width: 175px;
    }
    @include for-phone-only {
      max-width: 100%;
    }
  }
}
