.bones {
  &__information {
    position: relative;
    z-index: 10;
    font-size: 50px;
    &_animated {
      animation: raiseUp5percent 4s;
    }
    &_two-column {
      display: flex;
      padding-bottom: 45px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
      }
      @include for-phone-only {
        padding-bottom: 30px;
      }
    }
    &_mb50 {
      margin-bottom: 50px;
    }
  }
}
