.bones {
  &__subtitle {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
    }
    @include for-tablet-portrait-up {
      font-size: 21px;
    }
    @include for-phone-only {
      font-size: 15px;
    }
  }
}
