.order {
  &__price-symbol {
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    text-align: justify;
    color: #FFFFFF;
    @include for-phone-only {
      font-size: 1.5em;
      line-height: 1em;
    }
  }
}
