.work-information {
  &__container {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include for-tablet-landscape-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
