.work-information {
  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
    @include for-tablet-landscape-up {
      font-size: 18px;
    }
    @include for-tablet-portrait-up {
      font-size: 18px;
      line-height: 23px;
    }
  }
}
