.work-information {
  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 0.4em;
    line-height: 1.2em;
    text-align: justify;
    color: #FFFFFF;
    @include for-big-desktop-up {
      font-size: calc(0.4em + 0.4vw);
    }
    @include for-tablet-landscape-up {
      font-size: 0.35em;
      line-height: 1em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.35em;
      line-height: 1.2em;
    }
    @include for-phone-only {
      font-size: 0.3em;
      line-height: 1.5em;
    }
  }
}

