.heading {
  &__container {
    padding: 60px 0 60px 0;
    font-size: 100px;
    line-height: 100px;
    @include for-desktop-up {
      padding: 30px 0;
    }
    @include for-tablet-landscape-up {
      padding: 30px 0;
    }
    @include for-tablet-portrait-up {
      padding: 40px 0;
    }
    @include for-phone-only {
      padding: 30px 0;
    }
    &_comments {
      padding: 80px 0;
      @include for-desktop-up {
        padding: 30px 0;
      }
      @include for-tablet-landscape-up {
        padding: 30px 0;
      }
      @include for-tablet-portrait-up {
        padding: 40px 0;
      }
      @include for-phone-only {
        padding: 30px 0;
      }
    }
    &_prices {
      padding: 90px 0;
      @include for-phone-only {
        padding: 50px 0;
      }
    }
    &_responsive {
      @include for-big-desktop-up {
        padding: 2% 0;
      }
    }
    &_full-height {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      @include for-tablet-landscape-up {
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 30px 0;
      }
      @include for-tablet-portrait-up {
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 30px 0;
      }
      @include for-phone-only {
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 30px 0;
      }
    }
    &_vert-padding40 {
      padding: 40px 0;
    }
  }
}
