.heading {
  &__container {
    padding: 30px 0 48px 0;
    @include for-desktop-up {
      padding: 30px 0;
    }
    @include for-tablet-landscape-up {
      padding: 30px 0;
    }
    @include for-tablet-portrait-up {
      padding: 40px 0;
    }
    @include for-phone-only {
      padding: 30px 0;
    }
    &_comments {
      padding: 80px 0;
      @include for-desktop-up {
        padding: 30px 0;
      }
      @include for-tablet-landscape-up {
        padding: 30px 0;
      }
      @include for-tablet-portrait-up {
        padding: 40px 0;
      }
      @include for-phone-only {
        padding: 30px 0;
      }
    }
  }
}
