.logo {
  &__text {
    margin-left: 27px;
    font-weight: 800;
    color: #FFFFFF;
    @include for-big-desktop-up {
      font-size: calc(1em + 0.9vw);
    }
    @include for-desktop-up {
      font-size: 0.8em;
    }
    @include for-tablet-landscape-up {
      margin-left: 15px;
      font-size: 0.7em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.85em;
    }
    @include for-phone-only {
      font-size: 0.7em;
      margin-left: 12px;
    }
  }
}
