.burger-menu {
  &__footer-link {
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.2);
    @include for-big-desktop-up {
      font-size: calc(1em + 1vh + 0.5vw);
    }
    @include burger-for-phone-only {
      font-size: calc(0.5em + 0.7vw);
    }
    &:hover {
      color: #151515;
    }
  }
}
