.bones {
  &__list {
    position: relative;
    margin-top: 25px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1.2fr 2fr;
    font-size: 25px;
    line-height: 50px;
    @include for-big-desktop-up {
      grid-template-columns: 1fr 2fr 2fr;
    }
    &_two-column {
      display: flex;
      @include for-phone-only {
        flex-direction: column;
      }
    }
  }
}
