.heading {
  border-bottom: 1px solid #444444;
  &__container {
    padding: 30px 0 48px 0;

  }

  &__title {
    font-weight: 900;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    letter-spacing: -0.05em;

  }
}
