.heading {
  border-bottom: 1px solid #444444;
  &__container {
    padding: 30px 0 48px 0;
    &_comments {
      padding: 80px 0;
      @include for-desktop-up {
        padding: 30px 0;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    @include for-desktop-up {
      font-size: 60px;
    }
  }
}
