.controls {
  &__text {
    margin-left: 11px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
    }
    @include for-tablet-landscape-up {
      font-size: 19px;
    }
  }
}
