.controls {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid  #333333;
    font-size: 25px;
    line-height: 50px;
    &:last-child {
      border-right: none;
    }
    @include for-big-desktop-up {
      padding: 5% 0;
    }


    // Расположение в controls__container Grid сетки на мобильной версии
    &_tablet1 {
      @include for-tablet-landscape-up {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
    &_tablet2 {
      @include for-tablet-landscape-up {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
    }
    &_tablet3 {
      @include for-tablet-landscape-up {
        grid-row: 2;
        grid-column: 1 / 2;
      }
    }
    &_tablet4 {
      @include for-tablet-landscape-up {
        grid-row: 2;
        grid-column: 2;
      }
    }

    &_tablet1 {
      @include for-tablet-portrait-up {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
    &_tablet2 {
      @include for-tablet-portrait-up {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
    }
    &_tablet3 {
      @include for-tablet-portrait-up {
        grid-row: 2;
        grid-column: 1 / 2;
      }
    }
    &_tablet4 {
      @include for-tablet-portrait-up {
        grid-row: 2;
        grid-column: 2;
      }
    }


    // Расположение в controls__container Grid сетки на мобильной версии
    &_mobile1 {
      @include for-phone-only {
        grid-row: 1 / 2;
      }
    }
    &_mobile2 {
      @include for-phone-only {
        grid-row: 2 / 3;
      }
    }
    &_mobile3 {
      @include for-phone-only {
        grid-row: 3 / 4;
      }
    }
    &_mobile4 {
      @include for-phone-only {
        grid-row: 4 / 5;
      }
    }




    &_centered {
      @include for-tablet-landscape-up {
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid #333333;
      }
      @include for-tablet-portrait-up {
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid #333333;
      }
      @include for-phone-only {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #333333;
      }

    }
    &_interactive {
      @include for-phone-only {
        flex-direction: row;
        justify-content: center;
      }
    }
    &_statistic {
      display: flex;
      justify-content: flex-end;
      @include for-tablet-landscape-up {
        justify-content: center;
      }
      @include for-tablet-portrait-up {
        justify-content: center;
      }
      @include for-phone-only {
        justify-content: center;
      }
    }
    &_active {
      background-color: #444444;
    }
    @include for-tablet-landscape-up {
      justify-content: center;
    }


    &_category, &_tag {
      cursor: pointer;
    }

  }
}


