.work-article {
  &__link {
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.5em;
    line-height: 2em;
    text-decoration: underline;
    color: #FFFFFF;
    @include for-big-desktop-up {
      font-size: calc(0.5em + 1vw);
    }
    @include for-tablet-landscape-up {
      font-size: 0.4em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.4em;
      line-height: 1em;
    }
    @include for-phone-only {
      font-size: 0.4em;
      line-height: 1em;
    }
  }
}

