.bones {
  &__title {
    padding-top: 10px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    z-index: -1;
    @include for-big-desktop-up {
      font-size: calc(1em + 1vw);
      line-height: 1em;
    }
    @include for-desktop-up {
      font-size: 0.8em;
      line-height: 1em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.8em;
      line-height: 1em;
    }
    @include for-phone-only {
      font-size: 0.5em;
      line-height: 1em;
    }
    &_black {
      color: #000000;
    }
    &_small {
      font-weight: 600;
      font-size: 1em;
      margin-bottom: 15px;
      @include for-big-desktop-up {
        font-size: calc(1em + 0.8vw);
      }
    }
    &_prices-reason {
      font-size: 0.6em;
    }
    &_more {
      margin-bottom: 15px;
      @include for-big-desktop-up {
        font-size: calc(1em + 1vw);
        margin-bottom: 5%;
      }
    }
    &_active {
      padding-bottom: 65px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

