.bones {
  &__title {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 30px;
      line-height: 40px;
    }
    @include for-tablet-portrait-up {
      font-size: 32px;
      line-height: 42px;
    }
    @include for-phone-only {
      font-size: 22px;
      line-height: 32px;
    }
  }
}
