.bones {
  &__button {
    margin-top: 125px;
    width: 180px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    span {
      @include for-big-desktop-up {
        font-size: calc(1em + 0.5vw);
      }
      @include for-desktop-up {
        font-size: 1em;
      }
      @include for-tablet-portrait-up {
        font-size: 1em;
      }
      @include for-phone-only {
        font-size: 1em;
      }
    }
    @include for-big-desktop-up {
      width: max-content;
      height: max-content;
      padding: 4%;
    }
    @include for-desktop-up {
      width: 160px;
      height: 50px;
      font-size: 20px;
      line-height: 40px;
    }
    @include for-tablet-portrait-up {
      margin-top: 70px;
      width: 160px;
      height: 50px;
      font-size: 20px;
      line-height: 40px;
    }
    @include for-phone-only {
      margin-top: 50px;
      width: 160px;
      height: 50px;
      font-size: 18px;
      line-height: 40px;
    }

    &_no-margin {
      margin: 0;
      @include for-big-desktop-up {
        //height: 100%;
      }
      @include for-tablet-landscape-up {
        margin: 0;
      }
      @include for-tablet-portrait-up {
        margin: 0;
      }
      @include for-phone-only {
        margin: 0;
      }
    }
    &_active {
      margin-top: 40px;
      color: #000000;
      border: 1px solid #727272;
    }
    &_show-card {
      z-index: 100;
      animation: raiseUp5percent 3s;
    }
  }
}

