.bones {
  &__button {
    margin-top: 125px;
    width: 180px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    @include for-desktop-up {
      width: 160px;
      height: 50px;
      font-size: 20px;
      line-height: 40px;
    }
  }
}
