.rating {
  display: block;
  font-size: 25px;
  font-family: Times;
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fff calc(var(--rating) / 5 * 100%), #727272 calc(var(--rating) / 5 * 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @include for-big-desktop-up {
    font-size: calc(17px + 0.5vw);
  }
  @include for-desktop-up {
    font-size: 17px;
  }
}
