.work-article {

  &__description {

    p {
      margin-top: 40px;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      color: #FFFFFF;
    }
  }
}
