.comments {
  &__info {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    @include for-tablet-landscape-up {
      justify-content: revert;
    }
    @include for-tablet-portrait-up {
      justify-content: revert;
    }
    @include for-phone-only {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}
