.controls {
  &__icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    &_search {
      background-image: url('../../../assets/svg/search.svg');
    }
    &_filter {
      background-image: url('../../../assets/svg/filter.svg');
    }
    &_back {
      background-image: url('../../../assets/svg/back.svg');
    }
  }
}
