.controls {
  &__number {
    margin-left: 40px;
    font-size: 1em;
    line-height: 1em;
    @include for-big-desktop-up {
      font-size: calc(1em + 0.5vw);
      margin-left: none;
    }
    @include for-desktop-up {
      font-size: 0.8em;
      margin-left: 0;
    }
    @include for-tablet-landscape-up {
      font-size: 0.75em;
      margin-left: 0;
    }
    @include for-tablet-portrait-up {
      font-size: 0.7em;
      margin-left: 0;
    }
    @include for-phone-only {
      font-size: 0.7em;
      margin-left: 0;
    }
  }
}


