.controls {
  &__triangle {
    margin-left: 8px;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 8px;
    @include for-big-desktop-up {
      padding-left: 5%;
    }
    @include for-tablet-landscape-up {
      padding-top: 2px;
    }
    @include for-tablet-portrait-up {
      padding-top: 1px;
    }
    @include for-phone-only {
      padding-top: 2px;
    }
  }
}
