.controls {
  &__triangle {
    margin-left: 8px;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 8px;
    @include for-big-desktop-up {
      padding-left: 5%;
    }
  }
}
