.comments {
  &__description {
    margin-left: 30px;
    font-size: 50px;
    line-height: 50px;
    @include for-big-desktop-up {
      margin-left: 5%;
    }
    @include for-phone-only {
      margin: 20px 0 0 0;
    }
  }
}

