.logo {
  &__wrapper {
    display: flex;
    align-items: center;
    padding-left: 60px;
    @include for-desktop-up {
      padding-left: 30px;
    }
    @include for-tablet-landscape-up {
      padding-left: 30px;
    }
    @include for-tablet-portrait-up {
      padding-left: 30px;
    }
    @include for-phone-only {
      padding-left: 15px;
    }
  }
}
