.comments {

}



.comments {

  &__inputs {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.05em;
  }

  &__inputs-field {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    &::placeholder {
      color: #727272;
    }
  }

  &__textarea {
    width: 100%;
    height: 150px;
    background-color: transparent;
    border: none;
    resize: none;
    color: #FFFFFF;
    &::placeholder {
      color: #727272;
    }
  }
}
