.comments {

  &__title {

  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 640px;
  }

  &__item {
    padding: 50px 60px 0 60px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
  }

  &__info {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
  }

  &__photo {
    max-width: 150px;
    width: 100%;
  }

  &__description {
    margin-left: 30px;
  }

  &__role {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
  }

  &__separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rating {
  }

  &__line {
    margin-left: 52px;
    width: 100%;
    height: 1px;
    background-color:#333333;
  }

  &__text {
    margin-top: 55px;
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      color: #FFFFFF;
    }
  }
}
