.burger-menu {
  &__footer {
    padding-top: 23px;
    @include for-tablet-landscape-up {
      padding-top: 18px;
    }
    @include burger-for-phone-only {
      padding-top: 10px;
    }
    @include for-phone-only {
      padding-top: 10px;
    }
  }
}
