.controls {
  &__name {
    margin-left: 40px;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #FFFFFF;
    @include for-desktop-up {
      font-size: 20px;
      margin-left: 20px;
    }
    @include for-tablet-landscape-up {
      font-size: 19px;
      line-height: 19px;
    }
    @include for-tablet-portrait-up {
      margin-left: 0;
      font-size: 18px;
      line-height: 18px;
    }
    &_centered {
      margin-left: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @include for-tablet-landscape-up {
        left: 0;
        transform: translateX(0);
      }
      @include for-tablet-portrait-up {

      }
    }
    &_active {
      color: #FFFFFF;
    }
    &_subname {
      margin-left: 10px;
      font-weight: 300;
    }
  }
}
