.controls {
  &__search {
    margin-left: 13px;
    background-color: transparent;
    border: none;
    font-weight: 800;
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    @include for-big-desktop-up {
      font-size: calc(1em + 0.5vw);
    }
    @include for-desktop-up {
      font-size: 0.8em;
    }
    @include for-tablet-landscape-up {
      font-size: 0.75em;
      line-height: 1em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.7em;
      line-height: 1em;
    }
    @include for-phone-only {
      font-size: 0.7em;
      line-height: 1em;
      width: 17%;
    }
  }
}

